
</div>
<div class="footer-padding footer-copyright text-center py-3"></div>
  <div class="footer">
    <p>© Copyright <%= new Date().getFullYear();%> Sakthi Ganeshwari</p>
  </div>
</div>


</body>
</html>
